@import "tailwindcss";

@font-face {
    font-family: "CRIF";
    src: url("/public/crif.woff2") format("woff2");
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "CRIF", monospace;
    font-weight: 100;
    font-style: normal;
}
