@import "tailwindcss";

@font-face {
    font-family: "CRIF";
    src: url("/public/crif.woff2") format("woff2");
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "CRIF", monospace;
    font-weight: 100;
    font-style: normal;
}

#stats {
    position: absolute;
    top: 10px;
    left: 10px;
    gap: 4px;
    border-radius: 5px;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.stat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#crosshair {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#minimap_wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#minimap_wrapper > div {
    position: absolute;
    color: white;
}

#pause-menu {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

/* Renders a button from a 9-slice sheet where each segment is 32x32 pixels.  */

button {
    font-family: "CRIF", monospace;
    font-size: 24px;
    position: relative;
    display: inline-block;
    color: white;
    z-index: 1;
    isolation: isolate; /* prevents the multiply blend from leaking out and interacting with the dark page background */
    height: 70px;
    width: 300px;
    cursor: pointer;
}

/* Layer 1: The UI Image (Bottom) */
button::before {
    content: "";
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    border-width: 32px;
    border-style: solid;
    border-image-source: url("/public/ui/button.png");
    border-image-slice: 32 fill;
    border-image-repeat: stretch;
    z-index: -2;
    pointer-events: none;
}

/* Layer 2: The Color Tint (Middle) */
button::after {
    content: "";
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    background-color: green;
    mix-blend-mode: multiply;
    z-index: -1; /* Sits exactly between the image and your button text */
    pointer-events: none;
}

button:hover::after {
    background-color: darkgreen;
}